html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
}

.main {
    flex-grow: 1;
}

.container-box {
    max-width: 1700px;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    font-size: 36px;
    line-height: 58px;
    font-weight: bold;
    color: $header;
    position: relative;
    padding-left: 65px;
    @extend %rubik-500;
}

.logo::before {
    content: url('../images/logo.svg');
    position: absolute;
    left: 0;
    top: 6px;
}

.title {
    text-align: center;
    font-size: 36px;
    color: #191919;
    @extend %roboto-700;
    padding-bottom: 35px;
}

.menu-nav {
    display: flex;
    justify-content: center;
}

.menu-link {
    font-size: 16px;
    color: #8b8b8b;
    @extend %roboto-700;
    transition: all .3s;

    &:hover {
        color: #292929;
    }
}
.breadcrumbs{
    display: flex;
    justify-content: center;
    text-align: center;
    &__list{
        display: flex;
    }
    &__item{
        padding-left: 16px;
        margin-right: 8px;
        position: relative;
        &::before{
            content: '/';
            position: absolute;
            width: 7px;
            height: 13px;
            top: 0;
            left: 0;
            color: #737980;
            @extend %rubik-500;
            display: none;
        }
        &:last-child{
            &::before{
            display: block;
            }
        }
    }
    &__link{
        line-height: 24px;
        color: #737980;
        @extend %rubik-500;
    }
}