$title: #436372;
$subtitle: #1f2044;
$footer: #7b7b7b;

%roboto-400{
    font-family: 'Roboto-Regular', sans-serif;
    font-weight: 400;
}

%roboto-500{
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
}
%roboto-700{
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
}

%rubik-400{
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}
%rubik-500{
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}
%poppins-700{
    font-family: 'Poppins-Bold', sans-serif;
    font-weight: 700;
}