@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0 46px;
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__list-item+.menu__list-item {
        padding-left: 35px;
    }

    &__list-link {
        font-size: 15px;
        line-height: 12px;
        color: $header;
        @extend %rubik-500;
        padding: 0 2px 1px;
    }

}

.user-nav {
    display: flex;
    position: relative;

    &__link,
    &__btn {
        position: relative;
        margin-left: 21px;
    }

    &__link--search {
        background-color: #edf1f4;
        border-radius: 50%;
        padding: 18px 18px 14px;
    }

    &__link--heart {
        position: relative;
        padding: 18px 30px 14px;
    }

    &__link--heart::before {
        position: absolute;
        content: "";
        background: #fcd7b6;
        width: 131%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
    }

    &__link--cart {
        display: block;
        position: relative;
        padding: 18px 30px 14px;
    }

    &__link--cart::before {
        position: absolute;
        content: "";
        border-left: 1px solid #fde7d3;
        width: 108%;
        height: 100%;
        top: 0;
        right: 0;
        transform: scaleY(0.6);
    }

    &__link--cart::after {
        position: absolute;
        content: "";
        background: #fcd7b6;
        width: 105%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
    }

    &__num {
        position: absolute;
        width: 18px;
        height: 16px;
        font-size: 14px;
        border-radius: 50%;
        background-color: #ffffff;
        color: $header;
        right: 20px;
        top: 11px;
        text-align: center;
        @extend %rubik-500;
    }

    &__btn {
        border: none;
        border-radius: 50%;
        background-color: #a3bbc8;
        padding: 15px;
    }
}




.footer-top {
    padding: 75px 0 70px;
    display: flex;
    border-bottom: 1px solid #dae4e9;

    &__logo {
        display: block;
        margin-bottom: 20px;
    }

    &__item-contact {
        width: 200px;
        margin-right: 100px;
    }

    &__phone,
    &__email {
        display: block;
        margin-bottom: 12px;
        color: $footer;
    }

    &__adress {
        display: block;
        color: $footer;
        line-height: 24px;
        margin-bottom: 18px;
    }

    &__item-nav {
        width: 145px;
        padding-top: 25px;
        margin-right: 130px;
    }

    &__item-form {
        max-width: 270px;
        padding-top: 25px;
    }

    &__title {
        margin-bottom: 27px;
        font-size: 16px;
        line-height: 21px;
        color: #1f2044;
        text-transform: uppercase;
        @extend %roboto-700;
    }

    &__link {
        display: block;
        margin-bottom: 15px;
        color: $footer;
    }

    &__text {
        margin-bottom: 35px;
        line-height: 24px;
        color: $footer;
    }

    &__form-input {
        max-width: 170px;
        width: 100%;
        padding: 8px 14px 8px 14px;
        border: none;
        background-color: #fef7f0;

        &::placeholder {
            font-size: 12px;
            color: #234969;
            @extend %roboto-700;
        }

    }

    &__form-button {
        border: none;
        background-color: #a3bbc8;
        padding: 13px 18px 13px 15px;
        font-size: 14px;
        line-height: 21px;
        @extend %roboto-400;
        color: #fff;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 0;

    &__text {
        @extend %rubik-500;
        color: $footer;
    }

    &__list {
        display: flex;
    }

    &__link {
        color: $footer;
        padding: 2px 14px;
        border-right: 1px solid $footer;
    }

    &__link-item {
        border: none;
    }
}

.top-slider {
    &__container-box {
        height: 820px;
        background-color: #fcd7b6;
        background-image: url('../images/slider-ellipse\ 34.png');
        background-repeat: no-repeat;
        background-position: right 17% top 49%;
    }

    &__item {
        display: flex !important;
        justify-content: space-between;
        padding: 218px 0 211px;
    }

    &__content {
        padding-right: 30px;
    }

    &__title {
        width: 470px;
        font-size: 72px;
        line-height: 70px;
        color: #243f4d;
        @extend %rubik-500;
        font-weight: bold;
        margin-bottom: 30px;
    }

    &__text {
        width: 370px;
        font-size: 18px;
        line-height: 30px;
        color: #687a80;
        @extend %rubik-500;
        margin-bottom: 39px;
    }

    &__link {
        font-size: 15px;
        line-height: 12px;
        color: #ffffff;
        @extend %rubik-500;
        padding: 24px 100px 24px 27px;
        background-color: #a3bbc8;
        position: relative;

        &::after {
            content: url('../images/slider-row.png');
            position: absolute;
            right: 18px;
            top: 26px;
        }
    }

    &__img {
        width: 100%;
    }

}

.slick-dots {
    display: flex;
    justify-content: center;

    li {
        margin-left: 10px;

        button {
            text-align: center;
            font-size: 10.88px;
            line-height: 8.7px;
            color: #243f4d;
            @extend%rubik-500;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            transition: all .3s;
        }


        &.slick-active {
            button {
                font-size: 12px;
                color: #667983;
                background-color: #fde3cc;
            }
        }
    }
}

.products-info__inner {
    height: 171px;
    background-color: $accent;
    padding: 45px 150px 46px;
}

.info {
    display: flex;
    justify-content: space-between;

    &__item {
        max-width: 300px;
        padding-left: 80px;
        position: relative;
    }

    &__item--time::before,
    &__item--car::before,
    &__item--secure::before {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
    }

    &__item--time::before {
        background-image: url('../images/icons/time.svg');
        width: 60px;
        height: 80px;
    }

    &__item--car::before {
        background-image: url('../images/icons/car.svg');
        width: 60px;
        height: 51px;
    }

    &__item--secure::before {
        background-image: url('../images/icons/secure.svg');
        width: 60px;
        height: 80px;
    }

    &__item-title {
        font-size: 18px;
        color: #414141;
        @extend %roboto-700;
        margin-bottom: 10px;
        position: relative;
    }

    &__item-text {
        font-size: 16px;
        line-height: 30px;
        color: #585858;
        @extend %roboto-400;
    }
}

.products {
    padding: 75px 0;


    &__menu-item+.products__menu-item {
        margin-left: 30px;
        margin-bottom: 80px;
    }

    &__items {
        display: grid;
        min-height: 803px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }

    &__item {
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 290px;
        text-align: center;
        background-color: #ffffff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        cursor: pointer;
        // &:hover{
        //     &::after{
        //         content: '';
        //         background-image: url('../images/icons/heart.svg'),
        //         url('../images/icons/cart-products.svg'),
        //         url('../images/icons/search-products.svg');
        //         width: 46px;
        //         height: 44px;
        //     }
        // }
    }

    &__item-subtitle {
        font-size: 16px;
        color: $subtitle;
        @extend %roboto-700;
        margin-bottom: 4px;
    }

    &__item-price {
        font-size: 16px;
        color: $price;
        @extend %roboto-700;
    }
}


.design {
    padding: 100px 0 120px;

    &__menu-item+.design__menu-item {
        padding-left: 30px;
    }

    &__menu-item {
        padding-bottom: 72px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        min-height: 528px;
        grid-gap: 30px;
    }
    &__item{
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 31px;
        padding-left: 35px;
    }
    &__subtitle{
        max-width: 180px;
        font-size: 20px;
        letter-spacing: 0.4px;
        color: #1a1a1a;
        @extend %roboto-700;
        margin-bottom: 8px;
    }
    &__description{
        color: #a3bbc8;
        letter-spacing: 0.2px;
        @extend %roboto-700;
    }
    
      
}

.video {
    height: 500px;
    background-image: url('../images/video-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


@import 'media';