@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0 46px;
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__list-item+.menu__list-item {
        padding-left: 35px;
    }

    &__list-link {
        font-size: 15px;
        line-height: 12px;
        color: $header;
        @extend %rubik-500;
        padding: 0 2px 1px;
    }

}

.user-nav {
    display: flex;
    position: relative;

    &__link,
    &__btn {
        position: relative;
        margin-left: 21px;
    }

    &__link--search {
        background-color: #edf1f4;
        border-radius: 50%;
        padding: 18px 18px 14px;
    }

    &__link--heart {
        position: relative;
        padding: 18px 30px 14px;
    }

    &__link--heart::before {
        position: absolute;
        content: "";
        background: #fcd7b6;
        width: 131%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
    }

    &__link--cart {
        display: block;
        position: relative;
        padding: 18px 30px 14px;
    }

    &__link--cart::before {
        position: absolute;
        content: "";
        border-left: 1px solid #fde7d3;
        width: 108%;
        height: 100%;
        top: 0;
        right: 0;
        transform: scaleY(0.6);
    }

    &__link--cart::after {
        position: absolute;
        content: "";
        background: #fcd7b6;
        width: 105%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
    }

    &__num {
        position: absolute;
        width: 18px;
        height: 16px;
        font-size: 14px;
        line-height: 18px;
        border-radius: 50%;
        background-color: #ffffff;
        color: $header;
        right: 20px;
        top: 11px;
        text-align: center;
        @extend %rubik-500;
    }

    &__btn {
        border: none;
        border-radius: 50%;
        background-color: #a3bbc8;
        padding: 15px;
    }
}


.footer-top {
    padding: 75px 0 70px;
    display: flex;
    border-bottom: 1px solid #dae4e9;

    &__logo {
        display: block;
        margin-bottom: 20px;
    }

    &__item-contact {
        width: 200px;
        margin-right: 100px;
    }

    &__phone,
    &__email {
        display: block;
        margin-bottom: 12px;
        color: $footer;
    }

    &__adress {
        display: block;
        color: $footer;
        line-height: 24px;
        margin-bottom: 18px;
    }

    &__item-nav {
        width: 145px;
        padding-top: 25px;
        margin-right: 130px;
    }

    &__item-form {
        max-width: 270px;
        padding-top: 25px;
    }

    &__title {
        margin-bottom: 27px;
        font-size: 16px;
        line-height: 21px;
        color: #1f2044;
        text-transform: uppercase;
        @extend %roboto-700;
    }

    &__link {
        display: block;
        margin-bottom: 15px;
        color: $footer;
    }

    &__text {
        margin-bottom: 35px;
        line-height: 24px;
        color: $footer;
    }

    &__form-input {
        max-width: 170px;
        width: 100%;
        padding: 8px 14px 8px 14px;
        border: none;
        background-color: #fef7f0;

        &::placeholder {
            font-size: 12px;
            color: #234969;
            @extend %roboto-700;
        }

    }

    &__form-button {
        border: none;
        background-color: #a3bbc8;
        padding: 13px 18px 13px 15px;
        font-size: 14px;
        line-height: 21px;
        @extend %roboto-400;
        color: #fff;
    }
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 0;

    &__text {
        @extend %rubik-500;
        color: $footer;
    }

    &__list {
        display: flex;
    }

    &__link {
        color: $footer;
        padding: 2px 14px;
        border-right: 1px solid $footer;
    }

    &__link-item {
        border: none;
    }
}

.top-slider {
    &__container-box {
        height: 820px;
        background-color: #fcd7b6;
        background-image: url('../images/slider-ellipse\ 34.png');
        background-repeat: no-repeat;
        background-position: right 17% top 49%;
    }

    &__item {
        display: flex !important;
        justify-content: space-between;
        padding: 218px 0 211px;
    }

    &__content {
        padding-right: 30px;
    }

    &__title {
        width: 470px;
        font-size: 72px;
        line-height: 70px;
        color: #243f4d;
        @extend %rubik-500;
        font-weight: bold;
        margin-bottom: 30px;
    }

    &__text {
        width: 370px;
        font-size: 18px;
        line-height: 30px;
        color: #687a80;
        @extend %rubik-500;
        margin-bottom: 39px;
    }

    &__link {
        @extend %btn;
        color: #ffffff;
        padding: 24px 100px 24px 27px;
        background-color: #a3bbc8;
        position: relative;

        &::after {
            content: url('../images/slider-row.png');
            position: absolute;
            right: 18px;
            top: 26px;
        }
    }

    &__img {
        width: 100%;
    }

}

.slick-dots {
    display: flex;
    justify-content: center;

    li {
        margin-left: 10px;

        button {
            text-align: center;
            font-size: 10.88px;
            line-height: 8.7px;
            color: #243f4d;
            @extend%rubik-500;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            transition: all .3s;
        }


        &.slick-active {
            button {
                font-size: 12px;
                color: #667983;
                background-color: #fde3cc;
            }
        }
    }
}

.products-info__inner {
    height: 171px;
    background-color: $accent;
    padding: 45px 150px 46px;
}

.info {
    display: flex;
    justify-content: space-between;

    &__item {
        max-width: 300px;
        padding-left: 80px;
        position: relative;
    }

    &__item--time::before,
    &__item--car::before,
    &__item--secure::before {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
    }

    &__item--time::before {
        background-image: url('../images/icons/time.svg');
        width: 60px;
        height: 80px;
    }

    &__item--car::before {
        background-image: url('../images/icons/car.svg');
        width: 60px;
        height: 51px;
    }

    &__item--secure::before {
        background-image: url('../images/icons/secure.svg');
        width: 60px;
        height: 80px;
    }

    &__item-title {
        font-size: 18px;
        color: #414141;
        @extend %roboto-700;
        margin-bottom: 10px;
        position: relative;
    }

    &__item-text {
        font-size: 16px;
        line-height: 30px;
        color: #585858;
        @extend %roboto-400;
    }
}

.products {
    padding: 75px 0 75px;


    &__menu-item+.products__menu-item {
        margin-left: 30px;
        margin-bottom: 80px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
        overflow: hidden;
    }

    &__item {
        max-width: 270px;
        height: 386px;
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 290px;
        text-align: center;
        background-color: #ffffff;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        position: relative;
        cursor: pointer;
    }

    &__item-box {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 154px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(500%);
    }

    &__item-link {
        padding: 12px 12px 2px 12px;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 17px;
    }

    &__item:hover {
        .products__item-box {
            transform: translateY(0);
        }

    }

    &__item-link:hover {
        background-color: #a3bbc8;

        path {
            fill: #f5f8f9;
        }
    }

    &__item-subtitle {
        font-size: 16px;
        color: $subtitle;
        @extend %roboto-700;
        margin-bottom: 4px;
    }

    &__item-price {
        font-size: 16px;
        color: $price;
        @extend %roboto-700;
    }
}


.design {
    padding: 50px 0 120px;

    &__menu-item+.design__menu-item {
        padding-left: 30px;
    }

    &__menu-item {
        padding-bottom: 72px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        min-height: 528px;
        grid-gap: 30px;
    }

    &__item {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 31px;
        padding-left: 35px;
    }

    &__subtitle {
        max-width: 180px;
        font-size: 20px;
        letter-spacing: 0.4px;
        color: #1a1a1a;
        @extend %roboto-700;
        margin-bottom: 8px;
    }

    &__description {
        color: #a3bbc8;
        letter-spacing: 0.2px;
        @extend %roboto-700;
    }


}

.video {
    height: 500px;
    background-image: url('../images/video-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lamp {
    padding: 115px 0 40px;

    &__inner {
        display: flex;
        gap: 30px;
    }

    &__item {
        width: 870px;
        height: 388px;
        background-color: #feefe2;
        position: relative;
    }

    &__images {
        position: absolute;
        top: -100px;
        left: 156px;
    }

    &__content {
        position: absolute;
        max-width: 340px;
        top: 87px;
    }

    &__content--left {
        top: 95px;
        right: 88px;
    }

    &__content--right {
        top: 79px;
        right: 65px;
    }

    &__title {
        font-size: 26px;
        line-height: 32px;
        color: $subtitle;
        @extend %roboto-700;
        margin-bottom: 18px;
    }

    &__text {
        line-height: 24px;
        color: $subtitle;
        @extend %rubik-500;
        margin-bottom: 40px;
    }

    &__link {
        @extend %btn;
        padding: 24px 100px 24px 27px;
        color: #436372;
        font-weight: bold;
        position: relative;
        border: 1px solid #b3b7b5;
        padding: 21px 84px 23px 18px;
        border-radius: 6px;

        &::after {
            content: url('../images/lamp-arrow.svg');
            position: absolute;
            right: 18px;
            top: 26px;
        }
    }
}

.blog {
    background: linear-gradient(to top, #fef7f0 48.5%, #ffffff 40%)
}


.blog-top {
    padding-top: 112px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 46px;
    }

    &__title {
        font-size: 36px;
        color: #1a1a1a;
        @extend %roboto-700;
    }

    &__link {
        padding-right: 25px;
        color: #262626;
        @extend %roboto-700;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 7px;
            height: 12px;
            right: 0;
            top: 9px;
            background-image: url('../images/blog-arrow.svg');
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        width: 370px;
        height: 420px;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    }

    &__box {
        position: relative;
    }

    &__img {
        height: 250px;
        position: relative;
    }

    &__subtitle {
        position: absolute;
        bottom: -17px;
        left: 28px;
        background-color: #a3bbc8;
        padding: 8px 31px;
        border-radius: 17px;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
        @extend %poppins-700;

    }

    &__content {
        padding: 33px 27px 21px;
        background-color: #ffffff;
    }

    &__text {
        max-width: 291px;
        height: 87px;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.6px;
        @extend %roboto-700;
        padding-bottom: 17px;
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 10px;
    }

    &__info {
        font-size: 12px;
        @extend %rubik-500;
    }

    &__info-data {
        color: #222933;
        margin-right: 30px;
    }

    &__info-author {
        color: #222933;
    }

}

.partners {
    padding: 88px 0 91px;
    background-color: #fef7f0;
    height: 247px;

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
    }

    &__img {
        display: block;
        width: 100%;
    }
}

.top {
    background-color: #edf1f4;

    &__inner {
        padding: 30px 0;
        margin: 0 auto;
    }

    &__title {
        text-align: center;
        font-size: 36px;
        line-height: 24px;
        color: #222933;
        @extend %rubik-300;
        margin-bottom: 9px;
    }

}

.modal {
    padding: 120px 0;
    max-width: 475px;
    margin: 0 auto;
    @extend %rubik-500;

    &__container {
        padding: 0;
    }

    &__form {
        border-bottom: 2px solid #f6f6f6;
    }

    &__label {
        color: #436372;
        margin-bottom: 15px;
    }

    &__input {
        width: 100%;
        border: 2px solid #f6f6f6;
        margin-bottom: 25px;
    }

    &__button {
        padding: 20px 209px;
        border: none;
        background-color: #a3bbc8;
        font-size: 18px;
        color: #fffefe;
        margin: 10px 0 33px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        color: #436372;
        line-height: 48px;
    }

    &__link {
        color: #436372;
        line-height: 48px;
        @extend %rubik-500;
    }
}

.modal-account {
    padding-top: 30px;

    &__title {
        text-align: center;
        line-height: 24px;
        color: #436372;
        @extend %rubik-500;
        margin-bottom: 23px;
    }

    &__button {
        width: 100%;
        padding: 20px 150px;
        font-size: 18px;
        color: #243f4d;
        @extend %rubik-500;
        background-color: transparent;
        border: 2px solid #a3bbc8;
    }
}

.experience {
    padding: 123px 0;

    &__inner {
        display: flex;
    }

    &__content {
        padding: 106px 50px 81px;
    }

    &__subtitle {
        margin-bottom: 50px;
        max-width: 108px;
        padding-left: 181px;
        font-size: 16px;
        line-height: 30px;
        color: #243f4d;
        @extend %rubik-500;
        position: relative;

        &::before {
            content: '12';
            position: absolute;
            height: 99px;
            left: 0;
            top: 21px;
            font-size: 140px;
            color: #a3bbc8;
            font-size: 140px;
            font-weight: bold;
            color: #a3bbc8;
            @extend %rubik-700;
        }
    }

    &__title {
        margin-bottom: 42px;
        font-size: 36px;
        line-height: 32px;
        color: #243f4d;
        letter-spacing: 0.4px;
        @extend %roboto-700;
    }

    &__text {
        max-width: 560px;
        font-size: 16px;
        line-height: 30px;
        color: #243f4d;
        @extend %rubik-500;
        padding-bottom: 65px;
        position: relative;
        margin-bottom: 30px;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 501px;
            height: 2px;
            background-color: #ebeef3;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        gap: 29px;
    }

    &__info-item {
        padding: 0 36px 18px 64px;
        @extend %roboto-700;
        border-right: 1px solid #e6eaf0;
        position: relative;
    }

    &__info-item::before {
        content: '';
        position: absolute;
        left: 0;
        top: 6px;
    }

    &__info-item--notebook::before {
        width: 37px;
        height: 38px;
        background-image: url('../images/icons/notebook.svg');
    }

    &__info-item--megaphone::before {
        width: 44px;
        height: 40px;
        background-image: url('../images/icons/megaphone.svg');
    }

    &__info-item--awards::before {
        width: 43px;
        height: 42px;
        background-image: url('../images/icons/awards.svg');
    }

    &__info-item--awards {
        border: none;
    }

    &__info-number {
        font-size: 36px;
        line-height: 38px;
        color: #243f4d;
        margin-bottom: 11px;
    }

    &__info-subtitle {
        font-size: 16px;
        line-height: 17px;
        color: #4c4c4c;
    }
}

.about-us {
    padding: 87px 0 81px;
    background-color: #fcd7b6;

    &__items {
        display: flex;
        justify-content: space-around;
    }

    &__item {
        text-align: center;
        display: block;
    }

    &__images {
        margin: 0 auto 20px;
        width: 73px;
        height: 69px;
    }

    &__number {
        font-size: 36px;
        line-height: 32px;
        color: #243f4d;
        @extend %roboto-700;
        margin-bottom: 22px;
    }

    &__subtitle {
        font-size: 18px;
        line-height: 32px;
        color: #243f4d;
        @extend %roboto-700;
    }
}

.team {
    padding: 123px 0 40px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        max-width: 313px;
    }

    &__title {
        line-height: 32px;
        text-align: left;
        color: #243f4d;
    }

    &__desc {
        font-size: 16px;
        line-height: 30px;
        color: #243f4d;
        @extend %rubik-500;
        margin-bottom: 42px;
    }

    &__link {
        padding: 19px 59px 17px 18px;
        font-size: 15px;
        line-height: 55px;
        @extend %poppins-700;
        color: #ffffff;
        background-color: #a3bbc8;
        border-radius: 5px;
        position: relative;

        &::after {
            content: url('../images/team-arrow.svg');
            position: absolute;
            right: 26px;
            top: 3px;
            width: 15px;
            height: 11px;

        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px 20px;
    }

    &__item {
        position: relative;
    }

    &__content {
        position: absolute;
        padding: 27px 0 28px;
        width: 328px;
        background-color: #ffffff;
        display: flex;
        justify-content: space-around;
        bottom: -62px;
        left: 0;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    }

    &__name {
        font-size: 22px;
        line-height: 26px;
        color: #436372;
        @extend %roboto-700;
        margin-bottom: 10px;
    }

    &__position {
        font-size: 16px;
        line-height: 30px;
        color: #565872;
        @extend %rubik-500;
    }

    &__social {
        display: flex;
        padding-top: 12px;
        justify-content: center;
        align-items: center;
        gap: 6px;
    }

    &__social-link {
        padding: 12px 11px 11px 12px;
        background-color: #f6f6f6;
        border-radius: 50%;
    }

}

.information{
    padding-top: 116px;
    &__item{
        margin-bottom: 71px;
    }
    &__title{
        text-align: left;
        font-size: 24px;
        line-height: 40px;
        color: #243f4d;
        @extend %rubik-500;
        margin-bottom: 25px;
    }
    &__list{
        list-style: decimal-leading-zero;
        max-width: 1170px;
        padding-left: 30px;
    }
    &__list-item{
        font-size: 16px;
        line-height: 30px;
        color: #243f4d;
        @extend %rubik-400;
        margin-bottom: 20px;
        padding-left: 10px;
    }
    &__text{
        font-size: 16px;
        line-height: 30px;
        color: #243f4d;
        @extend %rubik-400;
    }
}





@import 'media';