<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.min.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
      {% include 'app/module/_header/_header.html' %}
    <main class="main">
        <section class="top">
            <div class="container">
                <div class="top__inner">
                    <h2 class="top__title">
                        Terms & Conditions
                    </h2>
                    <div class="breadcrumbs">
                        <ul class="breadcrumbs__list">
                            <li class="breadcrumbs__item">
                                <a class="breadcrumbs__link" href="#">Home</a>
                            </li>
                            <li class="breadcrumbs__item">
                                <a class="breadcrumbs__link " href="#">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="information">
            <div class="container">
                <div class="information__items">
                    <div class="information__item">
                        <h4 class="information__title">Types of Personal Information We Collect</h4>
                        <ol class="information__list">
                            <li class="information__list-item">
                                    Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                    velit esse cillum dolore
                            </li>
                            <li class="information__list-item">
                                    Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna
                                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                    velit esse cillum dolore
                            </li>
                            <li class="information__list-item">
                                    Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    magna aliqua.
                            </li>
                            <li class="information__list-item">
                                    Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                    nisi ut aliquip ex ea commodo consequat.
                            </li>
                            <li class="information__list-item">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            </li>
                        </ol>
                    </div>
                    <div class="information__item">
                        <h4 class="information__title">How marketpmss.com Collects Personal Infonnation</h4>
                        <p class="information__text">
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore
                        </p>
                    </div>
                    <div class="information__item">
                        <h4 class="information__title">How marketprosscom Uses Personal Information</h4>
                        <p class="information__text">
                            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore
                        </p>
                    </div>
                </div>
            </div>
        </section>


        <section class="blog">
            <div class="container">
                <div class="blog-top">
                    <div class="blog-top__inner">
                        <h3 class="blog-top__title">
                            Our Insights & Articles
                        </h3>
                        <a class="blog-top__link" href="#">View All</a>
                    </div>
                    <div class="blog-top__items">
                        <div class="blog-top__item">
                            <div class="blog-top__box">
                                <a class="blog-top__item-link" href="#">
                                    <img class="blog-top__img" src="images/blog/1.jpg" alt="blog images">
                                </a>
                                <p class="blog-top__subtitle">NEWS</p>
                            </div>
                            <div class="blog-top__content">
                                <p class="blog-top__text">
                                    Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                                <div class="blog-top__info">
                                    <a class="blog-top__info-data" href="#"> 28 JANUARY, 2020</a>
                                    <a class="blog-top__info-author" href="#"> BY ADMIN</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-top__item">
                            <div class="blog-top__box">
                                <a class="blog-top__item-link" href="#">
                                    <img class="blog-top__img" src="images/blog/2.jpg" alt="blog images">
                                </a>
                                <p class="blog-top__subtitle">NEWS</p>
                            </div>
                            <div class="blog-top__content">
                                <p class="blog-top__text">
                                    Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                </p>
                                <div class="blog-top__info">
                                    <a class="blog-top__info-data" href="#"> 28 JANUARY, 2020</a>
                                    <a class="blog-top__info-author" href="#"> BY ADMIN</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-top__item">
                            <div class="blog-top__box">
                                <a class="blog-top__item-link" href="#">
                                    <img class="blog-top__img" src="images/blog/3.jpg" alt="blog images">
                                </a>
                                <p class="blog-top__subtitle">NEWS</p>
                            </div>
                            <div class="blog-top__content">
                                <p class="blog-top__text">
                                    Rncididunt ut labore et dolore magna aliqua. Ut enim
                                </p>
                                <div class="blog-top__info">
                                    <a class="blog-top__info-data" href="#"> 28 JANUARY, 2020</a>
                                    <a class="blog-top__info-author" href="#"> BY ADMIN</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partners partners--login--page">
                <div class="container">
                    <ul class="partners__list">
                        <li class="partners__item">
                            <img class="partners__img" src="images/partners/1.png" alt="partner images">
                        </li>
                        <li class="partners__item">
                            <img class="partners__img" src="images/partners/2.png" alt="partner images">
                        </li>
                        <li class="partners__item">
                            <img class="partners__img" src="images/partners/3.png" alt="partner images">
                        </li>
                        <li class="partners__item">
                            <img class="partners__img" src="images/partners/4.png" alt="partner images">
                        </li>
                        <li class="partners__item">
                            <img class="partners__img" src="images/partners/5.png" alt="partner images">
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    </main>
    {% include 'app/module/_footer/_footer.html' %}



    <script src="js/main.min.js"></script>
</body>

</html>