.top-slider {
    &__container-box {
        height: 820px;
        background-color: #fcd7b6;
        background-image: url('../images/slider-ellipse\ 34.png');
        background-repeat: no-repeat;
        background-position: right 17% top 49%;
    }

    &__item {
        display: flex !important;
        justify-content: space-between;
        padding: 218px 0 211px;
    }

    &__content {
        padding-right: 30px;
    }

    &__title {
        width: 470px;
        font-size: 72px;
        line-height: 70px;
        color: #243f4d;
        @extend %rubik-500;
        font-weight: bold;
        margin-bottom: 30px;
    }

    &__text {
        width: 370px;
        font-size: 18px;
        line-height: 30px;
        color: #687a80;
        @extend %rubik-500;
        margin-bottom: 39px;
    }

    &__link {
        @extend %btn;
        color: #ffffff;
        padding: 24px 100px 24px 27px;
        background-color: #a3bbc8;
        position: relative;

        &::after {
            content: url('../images/slider-row.png');
            position: absolute;
            right: 18px;
            top: 26px;
        }
    }

    &__img {
        width: 100%;
    }

}
.slick-dots {
    display: flex;
    justify-content: center;

    li {
        margin-left: 10px;

        button {
            text-align: center;
            font-size: 10.88px;
            line-height: 8.7px;
            color: #243f4d;
            @extend%rubik-500;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            transition: all .3s;
        }


        &.slick-active {
            button {
                font-size: 12px;
                color: #667983;
                background-color: #fde3cc;
            }
        }
    }
}