
.video {
    height: 500px;
    background-image: url('../images/video-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}